body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2 {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #5f67b2;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #5b63fc;
    color: #ffffff
}

header {
    text-align: center;
    background-color: #3775b0;
    color: #f0f0f0;
    padding: 20px;
}

nav {
    clear: both;
    color: #ffffff;
    background-color: #2d6295;
    height: 30px;
    margin-top: 10px;
}

nav ul {
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 100%;
}

nav li {
    list-style: none;
    width: 50%;
}

nav li:hover {
    background-color: #5b9edd;
    transition: 400ms;
}

nav li a {
    text-decoration: none;
    color: #ffffff;
}

nav li a:hover,
nav li a.current {
    color: #000000;
}

iframe, main {
    width: 100%;
}

footer {
    font-size: 80%;
    padding: 20px;
    color: #3c3c3c;
    background-color: #6e8faf;
    text-align: center;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    figure {
        padding: 10px;
    }

    table {
        font-size: 14px;
    }

    th,
    td {
        padding: 5px;
    }
}