<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Agregar el permiso de conexion a internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LayoutsGestosYoutubeApp"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.LayoutsGestosYoutubeApp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ConstraintActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.LayoutsGestosYoutubeApp"
            android:exported="true">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Constraint2Linear"
            android:label="@string/app_name"
            android:theme="@style/Theme.LayoutsGestosYoutubeApp"
            android:exported="true">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Frame2Table"
            android:label="@string/app_name"
            android:theme="@style/Theme.LayoutsGestosYoutubeApp"
            android:exported="true">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Linear2Frame"
            android:label="@string/app_name"
            android:theme="@style/Theme.LayoutsGestosYoutubeApp"
            android:exported="true">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Table2Relative"
            android:label="@string/app_name"
            android:theme="@style/Theme.LayoutsGestosYoutubeApp"
            android:exported="true">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Gestos"
            android:label="@string/app_name"
            android:theme="@style/Theme.LayoutsGestosYoutubeApp"
            android:exported="true">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Youtube"
            android:label="@string/app_name"
            android:theme="@style/Theme.LayoutsGestosYoutubeApp"
            android:exported="true">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>